@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-open: serif;
  --font-noto: "Noto Sans", sans-serif;
  --font-cabin: "Cabin", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.icons:hover {
  background-color: #4299e1;
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.faq-card:hover{
  transform: translateY(-0.5rem) scale(1.02);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.big-card:hover {
  transform: translateY(-0.5rem) scale(1.02);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
